.title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 40px;
}

.title > h1 {
  font-size: 50px;
  text-align: center;
}

.title > h1 > a {
  text-decoration: none;
  color: black;
}
.clipboard {
  display: flex;
  justify-content: right;
}
