.gameSceneContainer {
  display: block;
}

.newGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 20px;
}

.pageHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0;
  width: 90%;
  height: 50px;
  font-family: "Rajdhani", sans-serif;
  padding: 20px;
  font-size: 20px;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 10px;
}

.turnTracker {
  text-align: end;
  text-transform: capitalize;
  margin-right: 20px;
}

.turnSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  top: 50px;
  width: 80%;
  height: 50px;
  padding: 10px;
  margin: 40px;
}

.spectrumContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.spectrum {
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.spectrum > p {
  font-size: 0.8rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
}

.spectrum > #two {
  text-align: right;
}

.hintContainer {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.hintBtn {
  width: 150px;
  height: 40px;
  background-color: green;
  border: 2px solid green;
  z-index: 3;
}

.buttonContainer {
  justify-content: right;
  align-items: center;

  width: 100%;
  bottom: 4%;
  padding-right: 10%;
}

.chadburn {
  position: relative;
  margin: auto;
  width: 300px;
  height: 180px;
}

.chadburnImage {
  width: 300px;
  position: absolute;
}

.currentActionFormContainer {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 9;
}

.actorToggleContainer {
  width: 100%;
  display: inline-flex;
  justify-content: right;
  position: relative;
  z-index: 10;
  margin-right: 10px;
  margin-top: 20px;
}

.formDescription {
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.formInput {
  display: inline-flex;
  justify-content: center;
}
