.gameSceneContainer {
  display: block;
}

.pageHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0;
  width: 90%;
  height: 50px;
  font-family: "Rajdhani", sans-serif;
  padding: 20px;
  font-size: 20px;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 48px;
}

.turnTracker {
  text-align: end;
  text-transform: capitalize;
}

.turnSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  top: 50px;
  width: 80%;
  height: 50px;
  padding: 10px;
  margin: 40px;
}

.spectrumContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.spectrum {
  width: 300px;
  height: 30px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.spectrum > p {
  font-size: 0.8rem;
  margin: 0 auto;
  padding-top: 5px;
}

.spectrum > #one {
  width: 90px;
  margin-left: -10px;
}

.spectrum > #two {
  width: 90px;
  text-align: right;
  margin-right: -10px;
}

.hintContainer {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.hintBtn {
  width: 150px;
  height: 40px;
  background-color: green;
  border: 2px solid green;
  z-index: 3;
}

.buttonContainer {
  justify-content: right;
  align-items: center;

  width: 100%;
  bottom: 4%;
  padding-right: 10%;
}

.chadburnContainer {
  position: relative;
  margin: auto;
  width: 300px;
  height: 180px;
}

.chadburnImage {
  width: 300px;
  position: absolute;
}

.currentActionFormContainer {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 9;
  margin-bottom: 10px;
  height: 80px;
}

.summary {
  display: flex;
  width: 340px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: -50px;
}

.footer {
  width: 100%;
  display: inline-flex;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  align-items: center;
  height: 30px;
}

.footerLeft {
  margin-left: 0;
}

.footerRight {
  margin-left: auto;
  margin-right: 0;
}

.endgameText {
  text-align: center;
}

.formDescription {
  height: 2rem;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.formDescription::first-letter {
  text-transform: capitalize;
}

.formInput {
  display: inline-flex;
  justify-content: center;
}

.formInput > button {
  margin-left: 12px;
}
