.landingMenuContainer {
  margin: auto;
  width: 100%;
  display: block;
}

p {
  font-size: 1rem;
}

button {
  width: 7rem;
}

.landingMenuContainer > button {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

#content2 {
  padding-left: 10px;
}

.topBar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 40px;
}

.topBar > h1 {
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.topBar > h1 > a {
  text-decoration: none;
  color: black;
}
